* {margin:0px; padding: 0px;}
main, article, section, header, nav{
    display: block;
}
#wrapper{
    margin: 0px auto;
    width: 100%;
}

#navigate-main
{
  width: 100%;
    height: 50px;
    background: #F5FFFA;
    margin-top:65px;
}
